
header {
    height: 75px;
    background-color: red;
    font-size: 2rem;
}

.buscador{
    height: 70vh;
    font-size: 1.5rem;
    color: black;
    display:flex;
    background-image: url(./assets/img/perfiles-de-aluminio.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    align-items: center;
    position: relative;
}

.input-group {
    width: 60%;
}


.card {
    height: 80%;
    width: 30%;
    border: 1px solid grey;
    border-radius: 15px;
    background-color: white;
}

.card_container{
    height: 60vh;
}

.subtitulo {
    padding: 25px;
}

.productos {
    background-color: lightgray;
}

footer, footer a , footer a {
    background-color: gray;
    text-decoration: none;
    color: black;
    height: 5vh;
}

i{
    height: 20px;
    color: black;
}

.modal-container {

    visibility: hidden;
    position:absolute;
    left: -100%;
}


.modal-active {
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 20px;
    align-items: center;
    justify-content: space-around;
    visibility: visible;
    position: absolute;
    z-index: 1;
    top: 30%;
    left: 40%;
    border: 2px solid gray;
    background-color: rgb(235, 184, 184);
    
}

.btn, .modal-container input{
    margin: 10px;
}

.addProduct{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: red;
    padding-top: 20px;

}

.btnadd, .btnrem , .btnshow{
    width: 10vw;
    background-color: white;
    padding: 5px;
    margin-top:15px;

}

.inputContainer {
    display: flex;
    flex-direction: column;
}