
header {
    background-color: red;
    font-size: 2rem;
}

.form-control{
    width:250px;
    font-size: 1rem;
}

.buttonLogin,.buttonCart {
    border-radius: 32px;
    width: 45px;
}

.buscador{
    height: 70vh;
    font-size: 1.5rem;
    color: black;
    background-image: url(./assets/img/perfiles-de-aluminio.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
}

.input-group {
    width: 60%;
}


.card , .cardProduct,  .cardContact{
    display:flex;
    flex-direction: column;
    width: 25%;
    border: 1px solid grey;
    border-radius: 15px;
    background-color: white;
    justify-content: space-around;
    align-items: center;
    background-color: darkgrey;
    margin: 0px 10px;
}

.card_image{
    width: 80%;
    height: auto;
    border-radius: 25px;
    margin-top: 15px;
}

.card_container{
    height: auto;

}

.subtitulo {
    padding: 25px;
}

.productos , .contactSection{
    background-color: lightgray;
    height: auto;
    padding-bottom: 20px;
    
}

.contactSection {
    height: 400px;
}

footer, footer a {
    background-color: gray;
    text-decoration: none;
    color: black;
    height: 5vh;
}

i{
    height: 20px;
    color: black;
}

.modal-container {

    visibility: hidden;
    position:absolute;
    left: -100%;
}


.modal-active {
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 20px;
    align-items: center;
    justify-content: space-around;
    visibility: visible;
    position: absolute;
    z-index: 1;
    top: 30%;
    left: 40%;
    border: 2px solid gray;
    background-color: rgb(235, 184, 184);
    
}

.btn, .modal-container input{
    margin: 10px;
}

.addProduct{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: red;
    padding-top: 20px;

}

.btnadd, .btnrem , .btnshow{
    width: 10vw;
    background-color: white;
    padding: 5px;
    margin-top:15px;

}

.inputContainer {
    display: flex;
    flex-direction: column;
}

.clientCartContainer, .clientCartSection {
    visibility: hidden;
    position:absolute;
    left: -100%;
}

.clientCartContainer-active{
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 20px;
    align-items: center;
    justify-content: space-around;
    visibility: visible;
    position: absolute;
    z-index: 1;
    top: 30%;
    left: 40%;
    border: 2px solid gray;
    background-color: rgb(235, 184, 184);
    transform: translate(-25%,-25%);
    backdrop-filter: opacity(20%);
}

.cartCard{
    display:flex;
    height: 200px;
    padding:20px;
    align-items: center;
    justify-content: space-around;
    background-color: lightgrey;
    padding: 5px;
    border-radius: 10px;
    margin: 10px 0px;
}



.cartCard .card_image{
    width:150px;
    margin: 5px;
}

.cartHeader {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 80%;
}

.btnemptyItem{
    width:100px;
    background-color: lightblue;
    border: 2px solid black;
}

.btnemptyItem:hover{
    background-color: red;
    transition: all 1s ease-in-out;
}

.btn-close {
    background-color: lightgrey;
    border: 1px solid black;
    height: 10px;
    border-radius: 10px;
}

.hide{
    visibility: hidden;
}

.show {
    visibility: visible;
}

.itemDescription {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
}

.QtyInput{
    width: 100%;
}

.btnLoad{
    background-color: lightblue;
    border: 2px solid white;
}

.buttonContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardContact img {
    height: 75px;
    width: auto;
}

.displayImage{
    width:375px;
    height: 200px;
    border: 1px solid black;
    background-position: center;
    object-fit: cover;
}

.cardContainer{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding:25px;
}